.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-mdc-form-field {
  margin-top: 16px;
}

.buttonReturn {
  margin-top: 8px;
  justify-content: end;
  text-align:right;
  align-items: end;
}

mat-form-field {
  width: 100%;
}

.button-option {
  margin: 16px;
}