<form [formGroup]="firstFormGroup">

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput  type="date" placeholder="Fecha de nacimiento" formControlName="fechaNacimiento" required>
          </mat-form-field>
        </div>
        <div class="col-sm-8">
          <mat-form-field>
            <mat-label>CUI</mat-label>
            <input matInput type="number" placeholder="Ingrese su No de DPI" formControlName="cui" required>
          </mat-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Primer Nombre</mat-label>
            <input matInput   placeholder="Primer Nombre" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Segundo Nombre</mat-label>
            <input matInput placeholder="Segundo Nombre" formControlName="firstCtrl">
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Primer Apellido</mat-label>
            <input matInput placeholder="Primer Apellido" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Segundo Apellido</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl">
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Otro Nombre</mat-label>
            <input matInput placeholder="Otro Nombre" formControlName="firstCtrl">
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Apellido de Casada</mat-label>
            <input matInput placeholder="Apellido de Casada" formControlName="firstCtrl">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input matInput type="number" placeholder="Telefono" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field>
            <mat-label>Edad</mat-label>
            <input matInput type="numbre" placeholder="Edad" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" formControlName="firstCtrl">
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Estado Civil</mat-label>
            <mat-select  placeholder="Last name, First name" formControlName="firstCtrl" required>
              <mat-option *ngFor="let estado of listEstadoCivilCatalogo" value="{{estado.id}}" >{{estado.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Sexo</mat-label>
            <mat-select  placeholder="Sexo" formControlName="firstCtrl">
              <mat-option *ngFor="let sexo of listSexoCatalogo" value="{{sexo.id}}" >{{sexo.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field>
            <mat-label>Departamento</mat-label>
            <mat-select  placeholder="Departamento" formControlName="firstCtrl" >
              <mat-option *ngFor="let departamento of listDepartamentoCaralogo" value="{{departamento.nombre}}" (click)="handleInputChange(departamento)" >{{departamento.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field>
            <mat-label>Municipio</mat-label>
            <mat-select  placeholder="Municipio" formControlName="firstCtrl">
              <mat-option *ngFor="let municipio of listMunicipioCaralogo" value="{{municipio.nombre}}"  >{{municipio.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="Dirección" formControlName="firstCtrl">
          </mat-form-field>
        </div>
      </div>
    </div>

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            INFORMACIÓN ADICIONAL
          </mat-panel-title>
          <mat-panel-description>
            Ingrese información adicional
            <!-- <mat-icon>account_circle</mat-icon> -->
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Pueblo</mat-label>
              <mat-select  placeholder="Pueblo" formControlName="firstCtrl">
                <mat-option *ngFor="let pueblo of listPuebloCaralogo" value="{{pueblo.nombre}}" >{{pueblo.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Idiona</mat-label>
              <mat-select  placeholder="Idiona" formControlName="firstCtrl" >
                <mat-option *ngFor="let idioma of listIdiomaCaralogo" value="{{idioma.nombre}}" >{{idioma.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Religion</mat-label>
              <mat-select placeholder="Religion" formControlName="firstCtrl">
                <mat-option *ngFor="let religion of listReligionCaralogo" value="{{religion.nombre}}" >{{religion.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Telefono No 2</mat-label>
              <input matInput type="number" placeholder="Telefono No 2" formControlName="firstCtrl" >
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Telefono No 3</mat-label>
              <input matInput  type="number" placeholder="Telefono No 3" formControlName="firstCtrl" >
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Profesión</mat-label>
              <input matInput  placeholder="Profesión" formControlName="firstCtrl" >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>No Colegiado</mat-label>
              <input matInput type="number" placeholder="No Colegiado" formControlName="firstCtrl" >
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Pertenece a la comunidad LGBTQ+ ?</mat-label>
              <mat-select placeholder="Pertenece a la comunidad LGBTQ+ ?" formControlName="firstCtrl" >
                <mat-option value="SI">SI</mat-option>
                <mat-option value="NO">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
    
      </mat-expansion-panel>
    </mat-accordion>
    

    <div class="text-center ">
      <!-- <button mat-button matStepperNext>Next</button> -->
      <div class="button-option">
        <button mat-fab color="primary"  matStepperNext>
          <mat-icon>keyboard_tab</mat-icon>
        </button>
      </div>
    </div>

  </form>