
<div class="text-center buttonAdd">
    <button mat-raised-button color="primary" [routerLink]="['form-denuncia']" routerLinkActive="router-link-active" >CREAR DENUNCIA</button>
</div>

<table  mat-table [dataSource]="listDenuncias?.docs" class="mat-elevation-z8 mt-8">
    <!-- Position Column -->
    <ng-container matColumnDef="idDenuncia">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.idDenuncia}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="correlativo">
        <th mat-header-cell *matHeaderCellDef> Correlativo </th>
        <td mat-cell *matCellDef="let element"> {{element.correlativo}} </td>
    </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
</table>

<mat-paginator [length]="listDenuncias?.totalDocs"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="handlePageEvent($event)">
</mat-paginator>
